@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.body {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #544837;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1120px;
  min-width: 320px;
}

.header__button {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #ffff;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  background-color: #ff9900;
}

.menu__button-link {
  padding: 10px 22px;
  width: 110px;
  height: 46px;
}
.menu__button-link_signin {
  width: 102px;
  color: #173a56;
  background-color: #ffff;
  border: 1px solid #bcd0e5;
  margin-right: 14px;
}

.banner__button {
  display: inline;
  padding: 15px 41px 14px;
  width: 93px;
}

.feature__button {
  width: 175px;
  height: 53px;
  text-align: center;
  padding: 15px 32px 14px 34px;
  margin: 0 auto;
}

.footer__button {
  width: 131px;
  height: 39px;
  padding: 8px 15px 7px 15px;
  border-style: none;
}
.footer__field {
  margin-top: 91px;
  margin-bottom: 21px;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  border: 1px solid #bcd0e5;
  background: #ffff;
}

.header__list {
  list-style: none;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__link {
  margin-right: 30px;
  font-size: 14px;
  line-height: 28px;
  color: #2f281e;
}

@media screen and (max-width: 992px) {
  .header__list {
    display: block;
    text-align: center;
  }

  .header__link {
    font-size: 30px;
    line-height: 40px;
  }
}
.banner__icon-link {
  color: #ff9900;
  margin-left: 30px;
}
.banner__links {
  margin-top: 45px;
}

@media screen and (max-width: 767px) {
  .banner__icon-link {
    display: block;
    margin-top: 10px;
  }
}
.footer__nav {
  padding: 60px 10px 10px 90px;
}
.footer__nav-list {
  list-style-type: none;
}
.footer__nav-link {
  font-size: 16px;
  line-height: 35px;
  color: #544837;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {
  max-width: 1120px;
  margin: 0 auto;
}
.header::before {
  content: "";
  position: absolute;
  background-color: #ffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;
}
.header__menu {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}
.header__logo__img {
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 992px) {
  .header__item {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e9e7e6;
    padding: 80px 10px 20px;
    margin: 0 auto;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }
  .header__item.active {
    top: 0;
  }
}
@media screen and (max-width: 767px) {
  .header__body {
    height: 50px;
  }

  .header__button {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
  }
  .header__button.active {
    top: 0;
    left: 50%;
    transform: translate(-110px, 20px);
  }
}
.header__burger {
  display: none;
}

@media (max-width: 992px) {
  .header__burger {
    display: block;
    margin-right: 20px;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger::before {
    content: "";
    background-color: #ff9900;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after {
    content: "";
    background-color: #ff9900;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: #ff9900;
    width: 100%;
    height: 2px;
    right: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }
}
.main {
  padding: 90px 0 0 0;
}

.banner {
  padding: 5px;
  display: flex;
  align-items: center;
}
.banner__div {
  width: 46%;
}
.banner__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2f281e;
  margin-bottom: 30px;
  padding: 5px;
}
.banner__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
}
.banner__image {
  width: 53.72%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .banner {
    display: block;
  }
  .banner__div {
    width: 100%;
  }
  .banner__title {
    font-size: 30px;
    line-height: 30px;
  }
  .banner__image {
    width: 100%;
    margin: 0 auto;
  }
}
.feature {
  padding-left: 10px;
}
.feature__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #2f281e;
  margin: 110px auto 45px;
  padding: 5px;
  max-width: 540px;
  text-align: center;
}
.feature__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}
.feature__content-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 23%;
}
.feature__content-icon {
  width: 50px;
  height: 50px;
}
.feature__content-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #2f281e;
  padding: 30px 5px 13px;
}

@media screen and (max-width: 767px) {
  .feature__title {
    font-size: 25px;
    line-height: 25px;
    margin: 50px auto 20px;
  }

  .feature__content {
    display: inline-flex;
  }
  .feature__content-icon {
    width: 30px;
    height: 30px;
  }
  .feature__content-col {
    width: 47%;
    margin-bottom: 20px;
    border: 1px solid #ff9900;
    border-radius: 4px;
  }
  .feature__content-title {
    padding-top: 5px;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-top: 140px;
}
.container__div {
  width: 43.78%;
}
.container .container__box {
  margin-top: 30px;
}
.container__text {
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-top: 25px;
  margin-bottom: 12px;
}
.container__text_bold {
  font-weight: 700;
  color: #2f281e;
}
.container__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #2f281e;
  margin-bottom: 22px;
}
.container__image {
  width: 47.77%;
  object-fit: cover;
}
.container__box-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.container__box-text::before {
  content: "✓";
  width: 35px;
  height: 35px;
  border-radius: 14px;
  background-color: #ff9900;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  box-sizing: border-box;
  padding: 14px;
}

@media screen and (max-width: 767px) {
  .container {
    display: block;
    margin-top: 70px;
  }
  .container__title {
    font-size: 33px;
    line-height: 30px;
  }
  .container__div {
    width: 100%;
  }
  .container__image {
    width: 100%;
  }
}
.footer {
  padding: 90px 5px 100px 5px;
  margin-top: 146px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px solid #bcd0e5;
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    margin-top: 70px;
    padding: 50px 5px;
  }
  .footer__nav {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  .footer__field {
    width: 250px;
    margin-top: 20px;
  }
}
