.body {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #544837;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  max-width: 1400px;
}
.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1120px;
  min-width: 320px;
}
